rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      // For production, use custom claims. This is for development.
      return isSignedIn() && request.auth.token.email == "isaacmargues03@gmail.com";
    }

    // Grant users full read/write access to all documents under their own user path.
    // Admins are also granted full access to all user data.
    match /users/{userId}/{document=**} {
      allow read, write: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }

    // Rules for withdrawal requests, managed by users and processed by admins.
    match /withdrawalRequests/{requestId} {
      function isRequestOwner() {
        // On create, check incoming data. On read, check existing data.
        return (request.method == 'create' && request.auth.uid == request.resource.data.userId)
            || (resource != null && request.auth.uid == resource.data.userId);
      }
      
      allow create: if isRequestOwner();
      allow list: if isAdmin();
      allow get: if isAdmin() || isRequestOwner();
      allow update: if isAdmin();
      allow delete: if false;
    }
  }
}
